body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

dt { font-weight: bold; padding: 1em; }

#header { width: 100%; padding: 1ex;}

#logo { font-weight: bold; display: inline; padding-right: 1ex}
#features { text-align:center; }
#features a { padding-left: 1ex; text-decoration:none; }
#features-divider { display:inline; padding-left: 2em; font-weight:bold; }
#gobar { position: relative; display: block; width: 100%; height: 40px;  }
#gobar div { width: 50%; position: absolute; top: 0;}
#url0, #url1 { height: 30px; width: 70%; margin: 10px; padding: 6px; }
.IE #go { top: -8px; }

button u {display:inline;}
button {padding:5px;}

.frameblocker { width: 100%; height: 100%; position: absolute; top:0; left: 0; z-index: 5; background: transparent; overflow: hidden; }

.frame { width: 50%; height: 100%; position: relative; overflow:hidden; }
.IE6 .frame { width: 49.999%; }

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.load_time { 
    margin: 1em; 
    padding: 1ex !important;
    position: absolute !important; 
    top: 0; left: 0;
    z-index: 10; 
}

.overlay {
    display: none;
    position: absolute;
    width: 421px;
    height: 109px;
    left: 50%;
    margin: 0 0 0 -211px;
    padding: 17px 0 0 0;
    background: transparent url(../img/xfactor_bg.png) no-repeat top center;
    color: #C1D82F;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}
.overlay h2 { font-size: 36px; margin: 0; padding: 0; }
.overlay p { font-size: 18px; margin: 0; padding: 0; }

#xfactor { top: 40%; }
#average { 
    width: 426px;
    height: 109px;
    bottom: 0; font-size: 18px; color: white;
    background: transparent url(../img/square_bg.png) no-repeat top center;
}
.IE6 #average { margin-left: -165px; }
.IE6 #average div { margin-left: -100px; }

#progress { z-index: 100; width: 300px; margin: 12px auto 6px auto; }
#progress .ui-widget-header { background: #C1D82F !important; }

#repeat-form ul li { list-style: none; margin: 5px; }
#race-form table { text-align: center; }
#race-form input[type="text"] {
    width: 250px; padding: 6px; font-size: 12px;
}

#data-form textarea { 
    width: 90%; height: 440px;
    margin: 0 2em; 
    padding: 1em;
    overflow: auto;
}

#matchups { text-align: center; }
#matchups button { margin-top: 1ex; }

#about h2 { margin-top: 1em; }
#about p { margin: 1em 2em; }

#share textarea { width: 100%; padding: 6px; }

img { border: none; }

#noscript { z-index: 100000; text-align: center;}
#noscript h1 { z-index: 100001; margin: auto; margin-top: 20%; width: 500px;}

